body{
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

#centerContent{
    margin: 100 auto;
    padding: 20px;
    width: 500px; /* 960px standard*/
    background-color: white;
}

.errorMessage{
    font-weight: bold;
    background-color: yellow;
    color: red;
}
