


{% extends "master.html.twig" %}
    {% block headAdd %}
    <script>
        // for user pleasant to tell him as he typing not after pressing submit
        $(document).ready(function(){
            alert("hi");
            $('input[name=email]').keyup(function(){
                var email = $('input[name=email]').val();
                $('#isTaken').load("/isemailregistered/"+email);           
            });
        });
    </script>  
    {% endblock headAdd %}
{% block content  %}
    <div id="centerContent">
    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li class="errorMessage">{{error}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        Email: <input type="email" name="email" value="{{v.email}}"><span id="isTaken" class="errorMessage"></span><br>
        Name: <input type="text" name="name" value="{{v.name}}"><br>
        Password: <input type="password" name="pass1"><br>
        Password (repeated): <input type="password" name="pass2"><br>
        <input type="submit" value="Register">
    </form>
        </div>
{% endblock content %}
