body{
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

#centerContent{
    margin: 50px auto;
    padding: 20px;
    width: 1000px; /* 960px standard*/
    background-color: white;
}

.errorMessage{
    font-weight: bold;
    color: red;
}
label{
    font-weight: bold;
}
.allignRight{
    text-align: right;
   
}
.center{
    text-align: center;
}
.article {
    margin-bottom: 30px;
}

.article h1 {
    font-size: 20px;
}

.article h2 {
    font-size: 16px;
}