{% extends "master.html.twig" %}
{% block title %}Add category{% endblock %}
{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        Name: <input type="text" name="name" value="{{v.name}}"><br>
        Image: <input type="file" name="image">
        <img src="/{{v.imagePath}}" width="100"><br>
        <input type="submit" value="{% if v.id %}Save{% else %}Add{% endif %} category">
    </form>

{% endblock content %}
