{% extends "master.html.twig" %}
{% block content  %}
<p><a href="/admin/products/add">Add product</a></p>
<table border="1">
    <tr><th>#</th><th>Name</th><th>Description</th><th>Price</th><th>image</th><th>actions</th>
        {% for p in list %}
               <tr>
                  <td>{{p.id}}</td> 
                  <td>{{p.name}}</td> 
                  <td>{{p.description}}</td> 
                  <td>{{p.price}}</td>
                  <td><img src="/{{p.imagePath}}" alt="" width="100"></td> 
                  <td>
                      <button onclick="window.location='/admin/products/edit/{{p.id}}'">Edit</button>
                      <button onclick="window.location='/admin/products/delete/{{p.id}}'">Delete</button>
                  </td> 
               </tr>
            {% endfor %}
</table>
{% endblock content  %}
