{% extends "master.html.twig" %}
{% block title %}Delete{% endblock %}
{% block content  %}  
    <p>Are you sure you want to delte the following product?</p>
    <p>{{item.id}}: {{item.name}} at {{item.price}}</p>
    <div>{{item.description}}</div>
    <button styoe="margin-right:20px" onclick="window.location='/admin/products/list'">Cancel</button>
    <form style="displaty:inline" method="post" action="/admin/products/delete/{{item.id}}">
        <input type="hidden" name="confirmed" value="true">
        <input type="submit" value="Delete forever">
   
 {% endblock content %}