body{
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

#centerContent{
    margin: 100px auto;
    padding: 20px;
    width: 500px; /* 960px standard*/
    background-color: white;
}

.errorMessage{
    font-weight: bold;
    color: red;
}
label{
    font-weight: bold;
}
.allignRight{
    text-align: right;
   
}
.center{
    text-align: center;
}
